/* anything that has a class attribute ending with "Section" */
[class $= "Section"] {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: #cbcefb;
}

[class $= "Section"] > * {
    margin: 0px 5px;
}

.createSection {
    grid-area: _createArea;
}

.scalingSection {
    grid-area: scalingArea;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loadingSection {
    grid-area: loadingArea;
}

.canvasSection {
    grid-area: _canvasArea;
}

.anchorSection {
    grid-area: _anchorArea;
}

.navSection {
    grid-area: ____navArea;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    grid-template-areas:
        /* Prefixed names with '_'s so they line up here */
        /* Makes it easier to see the layout             */
        '_createArea scalingArea'
        'loadingArea _canvasArea'
        '_anchorArea ____navArea';
    border: solid;
    border-width: 1px;
    border-color: #cbcefb;
    height: 100%;
}

/*
    If the window is small, switch to a vertical layout.
    NOTE: This is affected by scaling in the browser.

*/
@media (max-width: 920px) {
    .container {
        grid-template-areas:
            '_createArea'
            'loadingArea'
            'scalingArea'
            '_canvasArea'
            '____navArea'
            '_anchorArea';
    }
}
