.svgButton {
    width: 128px;
    height: 128px;
}

.svgNavButton {
    width: 96px;
    height: 96px;
}

.svgButton, .svgNavButton {
    fill: transparent;
    background-color: transparent;
    color: transparent;
    border: none;
    outline: none;
    transition: background-color 1.0s, border 0.2s;
}

.svgButton > img, .svgNavButton > img {
    width: 100%;
    height: 100%;
}

.svgButton:hover, .svgNavButton:hover {
    background-color: var(--svg-btn-hover-bg);
    /*border: outset;*/
    border-radius: 10px;
}

.svgButton:active, .svgNavButton:active {
    box-shadow: 5px 5px var(--svg-btn-hover-shadow);
    transform: translateY(4px);
}

.repeatButton:active {
    animation-iteration-count: infinite;
    animation-delay: 0.5s;
    animation-duration: 0.2s;

    animation-name: repeat;
    animation-play-state: running;
}

@keyframes repeat {
    from { outline: none; } /* some bogus change */
    to { outline: none; }   /* IE doesn't work when empty */
}
